#blog-container {
    display: grid;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto auto auto auto;
    grid-template-areas: "hd" "sd" "feat" "main" "ft";
    border: 2px solid yellow;
}

.nestedGrid {
    display: grid;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    gap: 1vh;
    margin-bottom: 2vh;
    margin-right: 3vw;
    margin-left: 3vw;
}

.nestedGrid>* {
    border: 2px solid aquamarine;
}

@media(min-width:500px) {
    #blog-container {
        display: grid;
        width: auto;
        grid-template-columns: 100%;
        grid-template-rows: 20% auto auto auto auto;
        grid-template-areas: "hd" "sd feat" "sd main" "ft";
        border: 2px solid yellow;
    }
    .nestedGrid {
        display: grid;
        width: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        gap: 1vw;
        justify-items: center;
        margin-bottom: 10vh;
        margin-bottom: 3vh;
        margin-right: 5vw;
        margin-left: 5vw;
        border: 2px solid green;
    }
}

@media(min-width:1200px) {
    .nestedGrid {
        display: grid;
        width: auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        justify-items: center;
        margin-bottom: 3vh;
        margin-right: 5vw;
        margin-left: 3vw;
        border: 2px solid green;
    }
}

.fbox {
    width: 100%;
    height: 20vh;
    border: 1px solid red;
}

.feature {
    grid-area: feat;
}

#text-content {
    margin-bottom: 2vh;
}