.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas: "hd" "sd" "main" "ft";
    border: 2px solid yellow;
}

.nestedGrid {
    display: grid;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    align-content: center;
    gap: 1vh;
    margin-bottom: 5vh;
}

.nestedGrid>* {
    border: 2px solid aquamarine;
}

@media(min-width:500px) {
    .container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
        border: 2px solid red;
    }
    .nestedGrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 1vw;
        margin-bottom: 10vh;
    }
}

@media(min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: 20% 75% 5%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
        border: 2px solid green;
    }
    .nestedGrid {
        display: grid;
        width: auto;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        justify-items: center;
        margin-bottom: 10vh;
        margin-right: 5vw;
        border: 2px solid green;
    }
}

#text-content {
    grid-area: 3 / 1 / 4 / 2;
}

.fbox {
    width: 20vw;
    height: 20vh;
    border: 1px solid red;
}

.box {
    border: 1px solid red;
    background: blue;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
}

.footer {
    grid-area: ft;
}