@import "index.css";
@import "blog.css";
body {
    margin: 0;
}

.container {
    display: grid;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto auto auto auto;
    grid-template-areas: "hd" "sd" "main" "ft";
}

.header {
    grid-area: hd;
    background: #1E90FF;
}

.sidebar {
    grid-area: sd;
    background: #fdcd3b;
}

.content {
    grid-area: main;
    background: #1E90FF;
    padding-left: 3vw;
    padding-bottom: 3vw;
    border-left: 4px inset white;
    border-top: 4px inset white;
    border-bottom: 3px inset white;
}

.footer {
    grid-area: ft;
    background: #c29c2d;
}

.flex-buttons {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5vw;
}

#xing {
    height: 3vh;
    width: 3vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/xing.png");
}

#linkdedin {
    height: 3vh;
    width: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/li.png");
}

#twitter {
    height: 3vh;
    width: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/twitter.png");
}

#facebook {
    height: 3vh;
    width: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/facebook.png");
}

@media(min-width:500px) {
    .container {
        display: grid;
        width: auto;
        grid-template-columns: 25% 37% 37%;
        grid-template-rows: 20% auto auto;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
    }
    .header {
        grid-area: hd;
        background: linear-gradient(110deg, #fdcd3b 26%, #1E90FF 38%);
    }
    .sidebar {
        grid-area: sd;
        border-top: 4px inset white;
        background: #fdcd3b;
    }
    .content {
        grid-area: main;
        background: #1E90FF;
        border-left: 4px inset white;
        border-top: 4px inset white;
        border-bottom: 3px inset white;
    }
    .footer {
        grid-area: ft;
        background: #e0b535;
    }
    #xing {
        height: 5vh;
        width: 5vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/xing.png");
    }
    #linkdedin {
        height: 5vh;
        width: 5vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/li.png");
    }
    #twitter {
        height: 5vh;
        width: 5vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/twitter.png");
    }
    #facebook {
        height: 5vh;
        width: 5vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/facebook.png");
    }
}

@media(min-width:1200px) {
    .container {
        display: grid;
        width: auto;
        grid-template-columns: 20% 75% 5%;
        grid-template-rows: 20% auto;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
    }
    .header {
        grid-area: hd;
        background: linear-gradient(110deg, #fdcd3b 20%, #1E90FF 30%);
    }
    #xing {
        height: 6vh;
        width: 3vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/xing.png");
    }
    #linkdedin {
        height: 6vh;
        width: 3vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/li.png");
    }
    #twitter {
        height: 6vh;
        width: 3vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/twitter.png");
    }
    #facebook {
        height: 6vh;
        width: 3vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../images/facebook.png");
    }
}