@import "index.css";
@import "blog.css";
@import "buttons-and_logo.css";
body {
    margin: 0;
}

.container {
    display: grid;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: 5% 10% auto auto auto;
    grid-template-areas: "hd" "sd" "main" "ft";
}

.header {
    grid-area: hd;
    background: #1E90FF;
}

.sidebar {
    grid-area: sd;
    background: #fdcd3b;
}

.content {
    grid-area: main;
    background: #57abff;
    padding-left: 3vw;
    padding-bottom: 3vw;
    border-left: 4px solid #e0b535;
    border-top: 4px solid #e0b535;
    border-bottom: 3px inset white;
}

.footer {
    grid-area: ft;
    background: #c29c2d;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vw;
    padding-left: 2vw;
}


}
@media(min-width:500px) {
    .container {
        display: grid;
        width: auto;
        grid-template-columns: 15% 37% 37%;
        grid-template-rows: 10% auto auto;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
    }
    
    .header {
        grid-area: hd;
        background: linear-gradient(110deg, #fdcd3b 23%, #1E90FF 33%);
    }
    
    .sidebar {
        grid-area: sd;
        border-top: 4px solid #e0b535;
        background: #fdcd3b;
    }
    
    .footer {
        grid-area: ft;
        background: #e0b535;
    }
}
@media(min-width:1200px) {
    .container {
        display: grid;
        width: auto;
        grid-template-columns: 10% 75% 5%;
        grid-template-rows: 10% auto;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "sd main main main main main main main" "ft ft ft ft ft ft ft ft";
    }
    
    .header {
        grid-area: hd;
        background: linear-gradient(110deg, #fdcd3b 15%, #1E90FF 25%);
    }
}